<h1>Editar Local</h1>


<%= form_for(@local) do |f| %>

			<%= render 'form', local: @local, f:f %>
			
			
			<% #opcao disponivel somente ao editar %>
			
			<div class="actions">
				<%= f.submit "Salvar alterações do Local",:class => "btn btn-warning btn-mini"%>
			</div>

			<% end %> 

<%= link_to 'Visualizar', @local %> |
<%= link_to 'Voltar para tela de locais', locais_path %>
