<h2>Editar Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  

    <div class="field">
    <%= f.label :nome , "Nome:"%><br />
    <%= f.text_field :nome, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :sobrenome , "Sobrenome:"%><br />
    <%= f.text_field :sobrenome%>
  </div>

  <div class="field">
    <%= f.label :apelido , "Apelido:"%><br />
    <%= f.text_field :apelido%>
  </div>  

  <div class="field">
    <%= f.label :sexo , "Sexo:"%><br />
    <%= f.select :sexo, [['Masculino', 'M'], ['Feminino', 'F']] , prompt: "Sexo"%>
  </div>  

  <div class="field">
    <%= f.label :graduacao , "Graduação:" %><br />
    <%= f.select :graduacao, ['Instrutor(a)', 'Professor(a)', 'Formando(a)', 'Formado(a)', 'Mestre(a)' ], prompt: "Informe sua graduação" %> 
  </div>  

  <div class="field">
    <%= f.label :nome_professor , "Nome do Professor:" %><br />
    <%= f.select :nome_professor, 
                                        listaProfessores.sort.map{|k,v| [v,k]}.sort_by{|k,v| k},
                                        prompt: "Escolha o seu professor"   %> 
  </div>  

  <div class="field">
    <%= f.label :telefone , "Telefone:" %><br />
    <%= f.email_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :email , "E-mail:" %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmaçã do cadastro: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password, "Senha Atual" %> 
      <i>(Favor inserir a sua senha para confirmar as alterações do seu cadastro)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

<br><br>

  <div class="actions">
    <%= f.submit "Alterar Cadastro" %>
  </div>
<% end %>


<%= link_to "Voltar", :back %>
