<h2>Editar Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  

    <div class="field">
    <%= f.label :nome ,placeholder: "Nome:"%><br />
    <%= f.text_field :nome, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :sobrenome ,placeholder: "Sobrenome:"%><br />
    <%= f.text_field :sobrenome%>
  </div>

  <div class="field">
    <%= f.label :apelido ,placeholder: "Apelido:"%><br />
    <%= f.text_field :apelido%>
  </div>  

  <div class="field">
    <%= f.label :sexo ,placeholder: "Sexo:"%><br />
    <%= f.select :sexo, [['Masculino', 'M'], ['Feminino', 'F']] , prompt: "Sexo"%>
  </div>  

  <div class="field">
    <%= f.label :graduacao ,placeholder: "Graduação:" %><br />
    <%= f.select :graduacao, ['Calouro(a)', 'Graduado(a)', 'Instrutor(a)', 'Professor(a)', 'Formando(a)', 'Formado(a)', 'Mestre(a)' ], prompt: "Informe sua graduação" %> 
  </div>  

  <div class="field">
    <%= f.label :nome_professor ,placeholder: "Nome do Professor:" %><br />
    <%= f.text_field :nome_professor%>
  </div>  

  <div class="field">
    <%= f.label :email ,placeholder: "E-mail:" %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmaçã do cadastro: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password, placeholder: "Senha Atual" %> <i>(Favor inserir a sua senha para confirmar as alterações do seu cadastro)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar Cadastro" %>
  </div>
<% end %>

<%= link_to "Voltar", :back %>
