      <section>
      
        <div class="display-table">
          <div class="display-table-cell vertical-align-middle">
            
            <div class="container">
              
              <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                  <!-- ALERT -->
                  <!--
                  <div class="alert alert-mini alert-danger margin-bottom-30">
                    <strong>Oh snap!</strong> Login Incorrect!
                  </div>
                  -->
                  <!-- /ALERT -->

                  <!-- register form -->

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'nomargin sky-form boxed'}) do |f| %>
                      <%= devise_error_messages! %>
                    <header>
                      <i class="fa fa-users"></i> Cadastro
                      <br>
                      <p>Área destinada somente aos professores do Grupo Capoeira Brasil</p>
                    </header>



                    <fieldset class="nomargin">     

                    <div class="row">
                      <div class="col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :nome ,placeholder: "Nome" %>
                          </label>
                        </div>
                      </div>
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :sobrenome, placeholder: "Sobrenome"%>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :apelido ,placeholder: "Apelido" %>
                          </label>
                        </div>
                      </div>
                      <div class="col col-md-5">
                        <div class="field">
                          <label class="input">
<%= f.select(:sexo, [['Masculino', 'M'], ['Feminino', 'F']] , prompt: "Sexo", :class => "form-control") %>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">


                            <%= f.select :graduacao, ['Instrutor(a)', 'Professor(a)', 'Formando(a)', 'Formado(a)', 'Mestre(a)' ], prompt: "Informe sua graduação" %> 
                          </label>      
                        </div>   
                      </div>
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.select :nome_professor, 
                                        listaProfessores.sort.map{|k,v| [v,k]}.sort_by{|k,v| k},
                                        prompt: "Escolha o seu professor"   %> 

                            
                          </label>      
                        </div>
                      </div>
                    </div>                           
                    

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-envelope"></i>
                              <%= f.email_field :email, placeholder: "E-mail" %>
                              <b class="tooltip tooltip-bottom-right">Necessário para verificar o cadastro</b>
                          </label>      
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-lock"></i>
                              <% if @minimum_password_length %>
                            
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", placeholder:"Senha" %>
                          </label>     
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-envelope"></i>
                              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmação de Senha" %>
                          </label>      
                        </div>
                      </div>
                    </div>

                    

                     

                    
                 

                    <div class="margin-top-20">
                        <label class="checkbox nomargin termo">
                         <%= f.check_box :termo , class: 'checked-agree ' %>
                          <i></i><a href="#termo-modal" class="popup-modal">Concordo com os termos de serviço.</a>
                        </label>
                        <!-- <label class="checkbox nomargin"><input type="checkbox" name="checkbox"><i></i>Gostaria de receber novidade do Grupo Capoeira Brasil.</label> -->
                      </div>

                      <div id="termo-modal" class="white-popup-block mfp-hide">
                        <h1 style="text-align: center;">Termos de Uso</h1>
                        <p style="text-align: right;"><a class="popup-modal-dismiss" href="#">Fechar</a></p>
                        <p>
                          
<br><br>
<h4>DESCRIÇÃO DO PORTAL CAPOEIRA BRASIL</h4>
<br><br>
O PORTAL CAPOEIRA BRASIL é uma plataforma virtual que objetiva fomentar o crescimento da cultura e a arte da Capoeira, possibilitando, inclusive, a indivíduos qualificados (“Autônomos”) a figurarem no site como prestadores de serviços educacionais (“Aula”), de forma gratuita ou mediante pagamento ao PORTAL CAPOEIRA BRASIL. O PORTAL CAPOEIRA BRASIL disponibiliza os perfis dos Autônomos em seu Site, conforme cadastros preenchidos por estes, para contratação direta e independente por interessados que acessem livremente ou restritamente o site (“Usuários”).
<br><br>
SUMÁRIO DOS TERMOS DE USO
<br><br>
Bem-vindo ao PORTAL CAPOEIRA BRASIL. Por favor, leia a Política de Privacidade e os Termos de Uso antes de se cadastrar no grupocapoeirabrasil.com.br ou acessar qualquer parte restrita do site do PORTAL CAPOEIRA BRASIL (o "Site", que consiste de todos os conteúdos e páginas localizadas dentro do domínio web grupocapoeirabrasil.com.br), incluindo acesso a qualquer material ou outros serviços eletrônicos.
<br>
Ao utilizar o Site, você aceita e concorda legalmente com aos Termos de Uso e a Política de Privacidade, mesmo sem a realização do cadastro no Site. Se você não entende ou não deseja concordar com os Termos de Uso ou a Política de Privacidade, você não deve acessar o Site e deve descontinuar imediatamente o seu uso.
<br>
O PORTAL CAPOEIRA BRASIL reserva-se o direito de modificar os Termos de Uso a qualquer momento sem aviso prévio aos Autônomos ou Usuários, que serão notificados eventualmente sobre tais alterações. Quaisquer alterações aos Termos de Uso entrarão em vigor imediatamente após sua publicação no Site, vigendo por prazo indeterminado. Ao acessar o Site, após quaisquer alterações, você automaticamente manifesta sua concordância com as modificações dos Termos de Uso.
<br><br>
COMO USAR
<br><br>
1. Os Usuários ou Autônomos devem primeiramente efetuar um cadastro único gratuito, criando uma senha pessoal e intransferível. Devem especificar suas qualificações no cadastro, de forma que fique claro que se trata de professores buscando alunos, ou pessoas físicas interessadas em Aulas.
<br><br>
2. O PORTAL CAPOEIRA BRASIL não se responsabiliza pelos serviços prestados pelos Autônomos. Assim, os Usuários, antes de decidirem pela contratação do serviço educacional do Autônomo, deverá atentar-se:
(a) à capacitação informada pelo Autônomo;
(b) ao preço da Aula determinado pelo Autônomo;
(c) ao lapso temporal da Aula;
(d) às formas de pagamento que o Autônomo aceita; e
(e) à disponibilidade de agenda do Autônomo.
<br><br>
3. A contratação dos serviços educacionais do Autônomo é feita diretamente pelo usuário fora do Site, de maneira independente, sem qualquer intervenção do PORTAL CAPOEIRA BRASIL.
<br><br>
SERVIÇOS PRESTADOS PELO SITE
<br><br>
1. Busca gratuita: serviço online de busca das Aulas oferecidas pelos Autônomos.
<br><br>
2. Publicidade gratuita: serviço online de disponibilização de espaços virtuais para divulgação dos perfis e das Aulas oferecidas pelos Autônomos.
<br><br>
3. Publicidade paga: serviço online de disponibilização de espaços virtuais para divulgação em destaque dos perfis e Aulas oferecidas pelos Autônomos, ou para anúncios diversos (condições regidas por termo específico).
<br><br>
O PORTAL CAPOEIRA BRASIL (a) não é prestador de serviços educacionais, embora se proponha a fomentar que terceiros prestem serviços culturais e educacionais relativos à arte da Capoeira; (b) não tem qualquer vínculo empregatício com os Autônomos cadastrados no Site; (c) não tem qualquer responsabilidade pela prestação de serviços realizada pelos Autônomos; (d) não tem qualquer responsabilidade pela veracidade das informações fornecidas ou cadastradas pelos Autônomos; (e) não tem qualquer responsabilidade sobre as expressões ou manifestações de Usuários no Site.
<br><br>
O PORTAL CAPOEIRA BRASIL monitora as ações e pode moderar qualquer conteúdo inserido no Site, sendo que qualquer violação pode ser passível de bloqueio ou cancelamento da conta do Usuário ou Autônomo, sob discricionariedade do Site.
<br><br>
Este sumário é parte integrante dos Termos de Uso, de forma que os termos ora definidos poderão ser utilizados no Termo de Uso, no plural ou no singular, com o mesmo significado a eles determinados neste sumário.
<br><br>
TERMOS DE USO
<br><br>
1. Abrangência
<br><br>
Estes Termos de Uso aplicam-se e são um acordo jurídico entre, de um lado, PORTAL CAPOEIRA BRASIL, iniciativa representada pelo MESTRE ... (NOME COMPLETO inscrito no CPF/MF sob o nº número) e, de outro lado, toda e qualquer pessoa física ou jurídica que acesse o Site ou realize o seu cadastro, com o intuito de contratar ou prestar serviços educacionais (“Usuário” ou “Autônomo”, doravante “UTILIZADORES”), e rege a utilização do Site pelos UTILIZADORES, determinando as responsabilidades, deveres e obrigações que todo UTILIZADOR assume ao acessar e/ou utilizar o Site.
<br><br>
Ao acessar o Site, assim como na realização de seu cadastro, o UTILIZADOR fica ciente e concorda que está sujeito a todas as disposições destes Termos de Uso e da Política de Privacidade, declarando, para todos os fins de direito, possuir capacidade jurídica para tanto.
<br><br>
O UTILIZADOR pessoa física deverá ser maior de idade ou emancipado, e deve gozar de plena capacidade civil e penal. A utilização dos serviços por UTILIZADORES menores de idade está condicionada à expressa autorização dos pais, tutores, curadores ou representantes legais por escrito, que serão responsáveis por todos os atos praticados pelos UTILIZADORES menores no Site, dentre os quais eventuais danos causados a terceiros, práticas de atos vedados pela lei e pelas disposições destes Termos de Uso, sem prejuízo da responsabilidade do contratante, se este não for o pai ou o representante legal do menor infrator. 
<br><br>
Caberá aos responsáveis avaliar e autorizar ou não a visitação do Site pelos UTILIZADORES menores de idade. O PORTAL CAPOEIRA BRASIL não se responsabiliza pelo controle de acesso ou pela utilização indevida por UTILIZADORES menores de idade.
<br><br>
O uso do Site não concede a qualquer UTILIZADOR a propriedade de qualquer conteúdo, código, dados ou materiais aos quais o UTILIZADOR tenha acesso no Site. O UTILIZADOR está apenas autorizado a visualizar o conteúdo no Site no seu computador ou aparelho móvel com acesso à Internet. Qualquer distribuição, publicação ou exploração do Site, ou de qualquer conteúdo, código, dados ou materiais no Site, é estritamente proibida, a menos que o UTILIZADOR tenha recebido expressa permissão prévia do PORTAL CAPOEIRA BRASIL ou do devido detentor dos direitos. O UTILIZADOR não pode copiar, reproduzir, distribuir, exibir publicamente, vender, criar trabalhos derivados, decompilar, fazer engenharia reversa, desmontar ou explorar qualquer conteúdo, código, dados ou materiais do Site, incluindo, mas não se limitando a, textos, músicas, vídeos ou fotografias. Caso o UTILIZADOR faça outros usos não autorizados do Site, ou do conteúdo, código, dados ou materiais dele poderá incorrer em violação de direitos autorais e outras leis do Brasil e de outros países, podendo ter que responder civil ou penalmente por estes atos. PORTAL CAPOEIRA BRASIL envidará todos os esforços cabíveis para proteger ao máximo seus direitos de propriedade intelectual permitidos por lei, incluindo eventuais ações criminais cabíveis.
<br><br>
2. Condições gerais de uso
<br><br>
O UTILIZADOR fica ciente e concorda que a utilização dos serviços de busca e publicidade contidos no Site PORTAL CAPOEIRA BRASIL devem ser realizados com finalidade exclusivamente pessoal e imediata. Os mapas, endereços, imagens, informações e qualquer outro conteúdo existente no Site podem não retratar fielmente a situação real em que se encontram.
<br><br>
O UTILIZADOR que utiliza o Site PORTAL CAPOEIRA BRASIL para prestar ou contratar serviços, o faz por sua conta e risco, sem que o PORTAL CAPOEIRA BRASIL seja responsável pela veracidade das informações prestadas pelos UTILIZADOR, assim como pela qualidade e demais atributos e detalhes daquilo que é ofertado.
<br><br>
Os UTILIZADORES ficam cientes e concordam que o PORTAL CAPOEIRA BRASIL não poderá garantir a qualidade das Aulas oferecidas pelos Autônomos, nem pela exatidão, completude, adequação, efetividade, confiabilidade ou utilidade das informações ou de qualquer outro conteúdo inserido ou ministrado no Site pelos UTILIZADORES.
<br><br>
Desse modo recomenda-se ao UTILIZADOR que verifique a veracidade das informações obtidas e proceda, eventualmente, às medidas cabíveis para sua proteção com relação a eventuais danos.
<br><br>
O Site PORTAL CAPOEIRA BRASIL captura e divulga anúncios advindos de diversos Autônomos, logo, não atua como prestador de serviços de consultoria ou ainda intermediário ou participante em nenhum negócio que venha a ser eventualmente realizado entre Usuário(s) e Autônomo(s).
<br><br>
O PORTAL CAPOEIRA BRASIL não é fornecedor dos produtos e/ou serviços anunciados exclusivamente pelos Autônomos e não participa ou interfere, de qualquer forma, da negociação e/ou efetivação de quaisquer transações.
<br><br>
O PORTAL CAPOEIRA BRASIL não será responsável pelos negócios e/ou transações, efetivadas ou não, entre Usuários e Autônomos, ou entre UTILIZADORES e terceiros.
<br><br>
O UTILIZADOR está ciente de que o PORTAL CAPOEIRA BRASIL não deve ser responsabilizado ou sujeitar-se a quaisquer perdas e/ou danos incorridos em face destas transações. Os UTILIZADORES concordam que, em caso de litígio entre UTILIZADORES ou entre UTILIZADORES e terceiros, o PORTAL CAPOEIRA BRASIL não será, de qualquer forma, envolvido ou responsabilizado.
<br><br>
O UTILIZADOR fica ciente e concorda que o PORTAL CAPOEIRA BRASIL tem total liberdade para acrescentar ou remover funcionalidades, bem como controlar e alterar a visualização dos anúncios.
<br><br>
3. Cadastro e senha do UTILIZADOR
<br><br>
A utilização de determinadas funcionalidades do serviço PORTAL CAPOEIRA BRASIL se condiciona ao prévio cadastro do UTILIZADOR, por meio do Site, mediante o fornecimento dos dados pessoais solicitados, definição de uma identificação ou indicação de um endereço de e-mail, bem como de uma senha, de uso pessoal e intransferível.
<br><br>
O UTILIZADOR deverá fornecer ao PORTAL CAPOEIRA BRASIL, por ocasião do seu cadastro, informações verdadeiras, atuais e completas, bem como a assim mantê-las durante todo o período em que utilizar o serviço PORTAL CAPOEIRA BRASIL.
 <br><br>
O UTILIZADOR deverá, ainda, manter a confidencialidade e pessoalidade da sua senha e a notificar imediatamente o PORTAL CAPOEIRA BRASIL a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros.
<br><br>
O UTILIZADOR só poderá manter um único cadastro no Site.
<br><br>
O UTILIZADOR, ao seu exclusivo critério, poderá a qualquer momento cessar a utilização do serviço, através do cancelamento de sua conta.
<br><br>
O PORTAL CAPOEIRA BRASIL poderá, a qualquer tempo, excluir o UTILIZADOR do Site em razão de inobservância às condições dos Termos de Uso, comunicando o cancelamento da conta via e-mail.
<br><br>
4. Conteúdo criado pelo UTILIZADOR
<br><br>
O UTILIZADOR poderá incluir informações pessoais, avaliações, comentários, mensagens, imagens, fotos, perguntas, respostas, sugestões e artigos, para exibição no Site, e qualquer pessoa poderá visualizar o conteúdo disponibilizado pelo UTILIZADOR no Site.
<br><br>

O UTILIZADOR deverá fornecer ao PORTAL CAPOEIRA BRASIL, ao incluir qualquer conteúdo para exibição no Site, informações verdadeiras, objetivas, atuais e pertinentes à finalidade da plataforma PORTAL CAPOEIRA BRASIL, de forma ética, moral e lícita.
<br><br>
O UTILIZADOR é inteiramente responsável pela origem das imagens, sons, vídeos, materiais e conteúdos que envie e/ou divulgue, de modo que, ao enviar e/ou divulgar informações, o UTILIZADOR afirma, declara e garante que (a) tem os necessários direitos, licenças, autorizações e/ou permissões para reproduzir e publicar as informações enviadas e/ou divulgadas; e (b) o envio e/ou divulgação das informações não infringem ou violam os direitos de quaisquer terceiros.
<br><br>
O UTILIZADOR é o único responsável por todo conteúdo de sua autoria ou por ele enviado, divulgado, transmitido por e-mail ou associado a link disponibilizado; assim como pelo seu uso, divulgação ou publicação, devendo o UTILIZADOR manter o PORTAL CAPOEIRA BRASIL, seus funcionários, parceiros e controladores livres e indenes de toda e qualquer consequência advinda de seus atos/omissões, inclusive em relação a terceiros, não podendo o Site ser responsabilizado pelo envio e/ou divulgação de informações em inobservância aos Termos de Uso e às normas legais aplicáveis.
<br><br>

5. Práticas proibidas
<br><br>
O UTILIZADOR fica ciente e concorda que, no acesso e utilização do Site, é terminantemente proibido:
<br><br>
i. Distribuir, modificar, vender, alugar ou de qualquer forma explorar economicamente o serviço PORTAL CAPOEIRA BRASIL, os dados e informações a ele relacionados, bem como utilizá-los para finalidade que não seja pessoal e imediata ou, ainda, para a criação ou fornecimento de outros produtos ou serviços;
<br><br>
ii. O UTILIZADOR se compromete a não praticar atos que:
- Violem a lei, a moral, os bons costumes, os direitos de propriedade intelectual, os direitos à honra, à vida privada, o sigilo das comunicações, à imagem, à intimidade pessoal e familiar;
<br>
- Constituam promoção de eventos, materiais, companhias ou produtos que não sejam da marca PORTAL CAPOEIRA BRASIL; - Infrinjam patentes, marcas, segredos comerciais, direitos autorais; 
<br>
- Estimulem a prática de condutas ilícitas; 
<br>
- Incitem a prática de atos de discriminação, seja em razão de sexo, raça, religião, crenças, idade ou qualquer outra condição;
<br>
- Ameacem, intimidem ou assediem qualquer outro UTILIZADOR do Site; 
<br>
- Coloquem à disposição ou possibilitem o acesso a mensagens, produtos ou serviços ilícitos, violentos, pornográficos, degradantes; 
<br>
- Induzam ou incitem práticas perigosas, de risco ou nocivas para a saúde e para o equilíbrio psíquico; 
<br>
- Sejam falsos, ambíguos, inexatos, exagerados, de forma que possam induzir a erro sobre seu objeto ou sobre as intenções ou propósitos do comunicador; 
<br>
- Constituam publicidade ilícita, enganosa ou desleal, e que configurem concorrência desleal; 
<br>
- Veiculem, incitem ou estimulem a pedofilia; 
<br>
- Hostilizem terceiros; 
<br>
- Transmitam conteúdos ilegais, danosos, incômodos, ameaçadores, abusivos, tortuosos, difamatórios, vulgares, obscenos, invasores da intimidade de terceiros, odiosos, xenófobos, ou, de algum modo, inaceitáveis; e/ou 
<br>
- Sejam considerados como práticas de Spam.
<br><br>
iii. Fornecer ao PORTAL CAPOEIRA BRASIL, por ocasião do cadastro e preenchimento de perfil no Site, informações falsas, inexatas, desatualizadas ou incompletas, bem como assumir intencionalmente a personalidade de outra pessoa, física ou jurídica;
<br><br>
iv. Incluir meios de contato como telefone, e-mail, endereço e outras formas de comunicação em campos públicos do perfil, os quais não UTILIZADORES tenham acesso;
<br><br>
v. Trocar meios de contato como telefone, e-mail, endereço e outras formas de comunicação, com qualquer UTILIZADOR, com o objetivo de realizar a contratação das Aulas sem a intermediação da plataforma.
<br><br>
vi. Disseminar ou instalar vírus ou qualquer outro código, arquivo ou software com o propósito de interromper, destruir, acessar indevidamente, limitar ou interferir no funcionamento ou segurança do serviço PORTAL CAPOEIRA BRASIL, bem como das informações, dados e equipamentos do PORTAL CAPOEIRA BRASIL, de seus UTILIZADORES ou de terceiros, ou, ainda, para qualquer outra finalidade ilícita; e
<br><br>
vii. Praticar qualquer ato contrário à legislação em vigor.
<br><br>
Os conteúdos inseridos no portal PORTAL CAPOEIRA BRASIL estarão sujeitos ao monitoramento e moderação posterior ao seu envio e/ou divulgação, quanto ao teor e qualidade, podendo ser excluídos ou suprimidos se violarem qualquer um dos dispositivos legais ou dos Termos de Uso.
<br><br>
O PORTAL CAPOEIRA BRASIL não controla os conteúdos transmitidos ou disponibilizados a terceiros pelo UTILIZADOR no acesso ou utilização do Site. Não obstante, ao detectar qualquer conduta e/ou método do UTILIZADOR que contrarie o disposto neste Termo de Uso, poderá excluir/suspender avaliação do PORTAL CAPOEIRA BRASIL e poderá notificar, posteriormente, o UTILIZADOR para que a situação seja regularizada.
<br><br>
Qualquer pessoa, UTILIZADOR ou não, que se sentir lesado em relação a qualquer conteúdo, poderá encaminhar ao PORTAL CAPOEIRA BRASIL notificação solicitando sua retirada.
<br><br>
O PORTAL CAPOEIRA BRASIL não se responsabiliza pelo destino sugerido em links vinculados no Site e não mantém vínculos com outros sites eventualmente sugeridos por estes links.
<br><br>
6. Bloqueio e cancelamento de cadastro do UTILIZADOR
<br><br>
O UTILIZADOR fica ciente e concorda que o PORTAL CAPOEIRA BRASIL, tomando conhecimento de qualquer violação ao disposto neste Termo de Uso, poderá bloquear temporariamente ou cancelar em caráter definitivo o seu cadastro no Site, independentemente de prévia comunicação.
<br><br>
O PORTAL CAPOEIRA BRASIL poderá bloquear e cancelar cadastros de UTILIZADORES que apresentem qualificações negativas ou denúncias de forma reiterada por outros Usuários.
<br><br>
7. Utilização e divulgação de dados do UTILIZADOR
<br><br>
O UTILIZADOR fica ciente e concorda que o PORTAL CAPOEIRA BRASIL poderá utilizar o endereço de e-mail porventura fornecido por ocasião do seu cadastro no Site para o envio de informações, de qualquer natureza, relacionadas ao serviço PORTAL CAPOEIRA BRASIL.
<br><br>
O UTILIZADOR fica ciente e concorda que os dados que fornece ao PORTAL CAPOEIRA BRASIL e os porventura registrados por este, por ocasião de seu cadastro e em decorrência da utilização dos serviços, incluindo informações relativas à sua identificação e localização, poderão eventualmente ser preservados e/ou fornecidos às autoridades competentes em cumprimento de ordens judiciais.<br>
O PORTAL CAPOEIRA BRASIL reserva-se o direito de investigar suspeitas de violação destes Termos de Uso, incluindo reunir informações do usuário ou usuários envolvidos e da parte reclamante. Você UTILIZADOR, pelo presente, autoriza PORTAL CAPOEIRA BRASIL e seus agentes a cooperar com (a) autoridades policiais na investigação das violações criminais suspeitas; e (b) administradores de sistemas em Provedores de Serviços de Internet ou outras instalações de redes ou computadores, ou outros terceiros, de forma a fazer cumprir os Termos de Uso. Tal cooperação pode incluir a divulgação de informação de identificação pessoal. 
<br>
AO ACEITAR OS TERMOS DE USO, VOCÊ UTILIZADOR RENUNCIA E ISENTA O PORTAL CAPOEIRA BRASIL DE QUALQUER RECLAMAÇÃO RESULTANTE DE QUALQUER AÇÃO TOMADA POR QUALQUER MEMBRO DO PORTAL CAPOEIRA BRASIL DURANTE OU COMO RESULTADO DE SUAS INVESTIGAÇÕES E/OU DE QUAISQUER AÇÕES TOMADAS COMO CONSEQUÊNCIA DESSAS INVESTIGAÇÕES.
<br>
8. Cessão do direito patrimonial
O UTILIZADOR cede gratuitamente ao PORTAL CAPOEIRA BRASIL o direito de obter, armazenar, usar, dispor, editar, publicar, republicar e reproduzir seus conteúdos, como suas avaliações, comentários, perguntas, respostas, artigos, e aulas online (com as respectivas imagens, áudios, vídeos, voz, conteúdo, desenhos, produções e ilustrações) de sua autoria, escritos ou não, postados e gravados no Site.
<br>
Para pleno exercício das atividades do PORTAL CAPOEIRA BRASIL, o UTILIZADOR lhe cede ainda, em caráter definitivo e irrevogável, os direitos patrimoniais dos conteúdos de sua autoria, exclusivamente postados e gravados no Site.
A presente cessão é realizada em caráter definitivo e irrevogável, para que o PORTAL CAPOEIRA BRASIL dela possa se utilizar, no todo ou em parte, em todo o Universo, por tempo indeterminado, em qualquer de suas publicações, sem limitações, por suportes de qualquer natureza e mediante qualquer processo, em qualquer forma e formato.
<br>
9. Responsabilidade
<br>
O UTILIZADOR fica ciente e concorda que o PORTAL CAPOEIRA BRASIL não é responsável:
<br>
i. por eventual falta de qualidade, de exatidão, de completude, de adequação, de efetividade, de confiabilidade ou de utilidade dos mapas, endereços, estabelecimentos, currículos de Autônomos, imagens, informações, avaliações, comentário ou de qualquer outro conteúdo do serviço PORTAL CAPOEIRA BRASIL;
<br>
ii. por qualquer serviço, anúncio, propaganda, imagem, texto ou outro conteúdo relacionado ao serviço PORTAL CAPOEIRA BRASIL que seja criado, mantido ou prestado por UTILIZADORES ou por terceiros, ainda que acessível ou visualizável no Site;
<br>
iii. pelas condições reais de uso, consequências e eventuais danos decorrentes do uso dos mapas, endereços, estabelecimentos, serviços de Autônomos, imagens, informações avaliações, comentário ou de qualquer outro conteúdo dos serviços de informação prestados pelo PORTAL CAPOEIRA BRASIL;
<br>
iv. por eventuais danos decorrentes da inobservância, pelo UTILIZADOR, do dever de manutenção da confidencialidade e pessoalidade da sua senha, bem como da falta ou atraso no envio de notificação ao PORTAL CAPOEIRA BRASIL a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros;
<br>
v. por qualquer dano sofrido pelo UTILIZADOR em decorrência da conduta de outros UTILIZADORES ou terceiros, ainda que no âmbito do serviço PORTAL CAPOEIRA BRASIL;
<br>
vi. por interceptações ilegais ou violação de seus sistemas ou bases de dados por parte de pessoas não autorizadas;
<br>
vii. por qualquer dano sofrido pelo UTILIZADOR em decorrência da remoção de qualquer conteúdo que criar, incluir ou divulgar no serviço PORTAL CAPOEIRA BRASIL, do cancelamento do seu cadastro no Site, bem como da preservação ou fornecimento de informações a seu respeito, incluindo relativas à sua identificação e localização, pelo PORTAL CAPOEIRA BRASIL, em cumprimento de ordens judiciais;
<br>
viii. por eventual modificação, suspensão ou interrupção do serviço PORTAL CAPOEIRA BRASIL;
<br>
ix. por manter os serviços disponíveis no período de 24 (vinte e quatro) horas por dia, todos os dias do ano;
<br>
x. por obrigações de natureza fiscal, trabalhista, consumerista e demais obrigações incidentes nas transações realizadas através do Site ou fora do site entre UTILIZADORES. Desta forma, todas as obrigações oriundas de suas atividades, são de exclusiva responsabilidade do UTILIZADOR.
O UTILIZADOR fica ciente e concorda que é integralmente responsável por quaisquer danos decorrentes das ações e ou omissões por si praticadas em inobservância dos Termos de Uso.
O UTILIZADOR se compromete a defender, indenizar e isentar de qualquer responsabilidade o PORTAL CAPOEIRA BRASIL, seus executivos, subsidiárias, afiliados, sucessores, prepostos, diretores, agentes, prestadores de serviços, fornecedores e funcionários com relação a toda e qualquer reclamação, perda, dano, obrigação, custos, dívidas ou despesas (incluindo, entre outros, honorários advocatícios e custas processuais) incorridas em razão de: (a) mau uso e acesso do Site; (b) violação e/ou não observância de quaisquer dispositivos deste termo; (c) violação de qualquer direito de terceiros, incluindo, mas sem se limitar a, qualquer direito de propriedade, intelectual ou de privacidade; ou (d) qualquer reclamação de que algum conteúdo causou dano a terceiros. Esta defesa e obrigação de indenização subsistirão a este termo e ao uso e/ou acesso do Site.
O PORTAL CAPOEIRA BRASIL não endossa qualquer conteúdo enviado por qualquer UTILIZADOR quer seja uma opinião, recomendação ou conselho ali expresso.
<br>
10. Privacidade
<br>
O uso do Site está sujeito à Política de Privacidade disponível para consulta e praticada no Site, que está incorporada aos Termos de Uso por esta referência.
Qualquer restrição que o UTILIZADOR venha ter com relação à Política de Privacidade deverá ser notificada ao PORTAL CAPOEIRA BRASIL para que sejam tomadas as providências cabíveis.
<br>
11. Modificação dos Termos de Uso
<br>
O UTILIZADOR fica ciente e concorda que estes Termos de Uso poderão ser alterados pelo PORTAL CAPOEIRA BRASIL, a qualquer tempo.
O PORTAL CAPOEIRA BRASIL notificará os UTILIZADORES a respeito de quaisquer alterações e fica a critério do UTILIZADOR manter a utilização do Site.
<br>
O UTILIZADOR poderá, a qualquer momento, acessar a versão atualizada destes Termos de Uso no Site.
O uso continuado do Site constitui aceitação da versão mais recente dos Termos de Uso e Política de Privacidade.
<br>
12. Regras gerais e Foro
<br>
O UTILIZADOR reconhece que o PORTAL CAPOEIRA BRASIL não é obrigado a manter ou armazenar qualquer conteúdo no Site, podendo, a qualquer momento e por qualquer motivo, modificar ou descontinuar o Site, sem aviso prévio, e sem que qualquer obrigação seja criada com os UTILIZADORES ou com terceiros por tais modificações, suspensões ou descontinuidade do Serviço.
<br>
O UTILIZADOR concorda que o PORTAL CAPOEIRA BRASIL, a seu critério, pode excluir ou desativar sua conta, bloquear seu e-mail ou endereço de IP, ou, de outro modo, encerrar seu acesso ou uso do Site (ou parte dele) imediatamente, sem aviso prévio, além de remover qualquer conteúdo do Site.
O UTILIZADOR concorda em cumprir todas as leis, estatutos, ordens e regulamentações aplicáveis relativas ao uso do Site.
<br>
O Site e o conteúdo são de propriedade do PORTAL CAPOEIRA BRASIL, e esta propriedade é protegida pelas Leis de Direitos Autorais e Software (Lei 9.610/98 e Lei 9.609/98) e Lei de Propriedade Industrial (9.279/96) brasileiras e Tratados Internacionais sobre o tema. Todos os direitos autorais, marcas e outros direitos de propriedade no Site e no conteúdo (serviços, produtos, software, texto, imagens, elementos de design, áudio, músicas e todos os outros materiais originados ou utilizados por PORTAL CAPOEIRA BRASIL no Site ou em qualquer outro lugar) são reservados ao PORTAL CAPOEIRA BRASIL.
<br>
Na hipótese de que qualquer item, termo ou disposição deste termo vir a ser declarado nulo ou não aplicável, tal nulidade ou inexequibilidade não afetará quaisquer outros itens, termos ou disposições aqui contidos, os quais permanecerão em pleno vigor e efeito.
As partes elegem o Foro Central da Comarca do Rio de Janeiro, Brasil, para dirimir quaisquer controvérsias e demandas decorrentes ou relacionadas ao objeto dos Termos de Uso, renunciando a qualquer outro, por mais privilegiado que possa ser.
<br>
Política de Privacidade
<br>
A política de privacidade do PORTAL CAPOEIRA BRASIL assegura e protege a privacidade de todos os indivíduos que acessam grupocapoeirabrasil.com.br (“Site”) e que utilizam os serviços, se aplicando, ainda, a todos os dados reunidos no Site. Esta Política de Privacidade é parte integrante dos Termos de Uso do PORTAL CAPOEIRA BRASIL. A utilização do Site implica no consentimento do interessado cadastrado no Site (“UTILIZADOR”) para coleta, armazenamento e uso das informações pessoais fornecidas, cadastrais, de acesso e suas atualizações (“Política de Privacidade”).
Se não concordar com esta Política de Privacidade, então, por favor, não acesse, navegue ou cadastre-se no Site. Ainda, se optar por não fornecer informações necessárias no cadastro, não será possível a criação de um perfil (conta de usuário), não sendo possível a prestação dos nossos serviços.
<br>
Informações coletadas
<br>
Os dados submetidos durante o procedimento de cadastro de um UTILIZADOR são as informações mínimas necessárias para compor um perfil: nome, sobrenome, apelido, sexo, informações sobre graduação, professor, e-mail e senha. Com exceção da senha, todas as informações providas poderão ser publicadas no site.
As informações fornecidas pelo UTILIZADOR podem ser alteradas ou removidas através da sua conta acessível com usuário/e-mail e senha pessoal e intransferível.
O UTILIZADOR pode optar por não prover informações opcionais, mas poderá, por este motivo, não figurar em algumas buscas com estas especificidades.
Coletamos e armazenamos informações submetidas ao site, tais como fotos, imagens, dados pessoais cadastrais, informações do seu perfil, avaliações, comentários, mensagens, perguntas, respostas, dúvidas, áudio, vídeo, artigos, desenhos, produções, ilustrações de sua autoria, para exibição pública.
O PORTAL CAPOEIRA BRASIL também pode obter informações sobre a sua visita, incluindo as páginas visitadas em nosso Site, a ordem em que foram visitadas, quando foram visitadas, que tipo de hyperlinks e outros controles de interface do UTILIZADOR foram utilizados, pode registrar o endereço IP, sistema operacional e software navegador utilizado por cada usuário do Site, endereço de IP (Internet Service Provider) de cada consulta e a localização geográfica do seu ponto de conectividade.
Várias ferramentas de análise da web são usadas para coletar essas informações. Algumas das informações são coletadas através de cookies (pequenos arquivos de texto colocados no seu computador que armazenam informações sobre você, que pode ser acessado pelo Site, conforme definido abaixo). Todos os dados coletados serão armazenados para melhor compreender nossos UTILIZADORES, com o objetivo de aprimorar o Site aos interesses e necessidades daqueles que o acessam.
<br>
Conteúdo criado pelo UTILIZADOR
<br>
Comentários ou outras informações publicadas pelo UTILIZADOR em qualquer local do Site projetado para comunicações públicas ou comunicação entre os UTILIZADORES, podem ser vistos e baixados por outros UTILIZADORES que visitam o site. Por esta razão, o UTILIZADOR deve usar de bom senso para postar qualquer informação, comentário ou avaliação.
<br>
Monitoramento das informações
<br>
O UTILIZADOR fica ciente que os textos, informações de perfil, avaliações, comentários, mensagens, perguntas, respostas, dúvidas e artigos podem ser moderados e monitorados para o bom funcionamento e respeito aos Termos de Uso do PORTAL CAPOEIRA BRASIL. Salientamos que informações privadas não devem ser publicadas ou trocadas pelos UTILIZADORES.
<br>
Cookies
O PORTAL CAPOEIRA BRASIL colhe as informações através de cookies (a informação que o identifica como UTILIZADOR único). O nosso site utiliza cookies para melhorar a qualidade do nosso serviço e para entender melhor nossa base de UTILIZADORES. Para isto o PORTAL CAPOEIRA BRASIL armazena as preferências do UTILIZADOR em cookies e nunca para rastrear ou controlar suas preferências.
A maioria dos navegadores está inicialmente configurada para aceitar cookies. Pode-se configurar o seu navegador para rejeitar todos os cookies ou para indicar que se enviará um cookie. Considere que é possível que algumas partes do serviço de busca PORTAL CAPOEIRA BRASIL não funcionem corretamente sem os cookies.
<br>
Segurança das Informações
<br>
Os perfis de UTILIZADOR são protegidos por senhas criadas pelo próprio UTILIZADOR. Tomamos medidas de segurança apropriadas para ajudar a manter suas informações pessoais livres de acesso e uso não autorizados. O UTILIZADOR é o único responsável pela administração de suas senhas de acesso que possua ou venha a adquirir. Logo o PORTAL CAPOEIRA BRASIL não poderá ser responsabilizado por atos decorrentes de acessos não autorizados.
<br>
Sempre que o UTILIZADOR divulgar informações pessoais em páginas web disponíveis ao público ou a outro UTILIZADOR, essas informações podem tornar-se acessíveis e podem ser recolhidas e gravadas por qualquer pessoa. Portanto, você se compromete a não divulgar no Site qualquer informação que gostaria de manter privada.
Os anúncios, fotos e o conteúdo públicos podem ser listados nos resultados de ferramentas de pesquisa como Google, Yahoo!, Bing e outros, e ainda, no cache dessas ferramentas. O PORTAL CAPOEIRA BRASIL não tem autonomia para atualizar ou remover o conteúdo dos índices e cache dessas ferramentas.
O UTILIZADOR tem a opção de fechar a sua conta, mas ainda assim armazenaremos o conteúdo submetido e informações com o objetivo de manter a integridade dos dados e gerar estatísticas.
Para proteção de dados, é utilizada criptografia para todo processamento e troca de dados com o servidor.
<br>
Links a outros sites
<br>
Os links externos (para sites de terceiros) que porventura existam no Site PORTAL CAPOEIRA BRASIL são de sites sobre as quais não exercemos nenhum controle. Não somos responsáveis pelas políticas de privacidade nem pelas práticas de sites de terceiros anunciados.
Uso de suas informações pessoais
O PORTAL CAPOEIRA BRASIL reúne e utiliza suas informações pessoais ou individuais para o funcionamento do Site e para permitir que você se inscreva e anuncie no PORTAL CAPOEIRA BRASIL. Também usamos estas informações pessoais para nos comunicarmos com você.
O UTILIZADOR poderá solicitar a qualquer momento o cancelamento do recebimento de quaisquer e-mails transacionais ou promocionais do PORTAL CAPOEIRA BRASIL.
O PORTAL CAPOEIRA BRASIL não compartilha sua informação pessoal com terceiros sem seu consentimento expresso.
<br>
Mudanças na Política de Privacidade
Mudanças nesta Política de Privacidade podem ser realizadas para se adaptar a alterações no site ou nos serviços. Reveja esta Política de Privacidade com frequência a fim de manter-se atualizado sobre como estamos protegendo e utilizando as informações que coletamos. Seu uso continuado do Site constitui aceitação tácita desta versão mais recente desta Política de Privacidade e dos Termos de Uso. Todas as mudanças serão notificadas aos UTILIZADORES.
                        </p>

                        <br>
                        <a class="popup-modal-dismiss" href="#">Fechar</a>
                        
                      </div>


                  </fieldset>
                    


                    <div class="row margin-bottom-20 actions">
                      <div class="col-md-12">
                         <%= f.submit "Cadastrar", class:'btn btn-primary' %>
                      </div>
                    </div>
                      
                     
                  <%end%>
                  <br>
                  
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 ">


                  <h2 class="size-20 text-center-xs">Cadastro</h2>

                  <p>Seja ​b​em-v​indo(a) a mais uma sede do Grupo Capoeira Brasil.
O conteúdo deste site é gerenciado por capoeiristas graduados do Mestre Paulinho Sabiá e o cadastramento é destinado apenas àqueles que desenvolvem um trabalho pelo Grupo Capoeira Brasil / Sabiá. </p>

                  <ul class="list-unstyled login-features">
                    <li>
                      <i class="numero"><b>1</b></i> 
                      Preencha o formulário de cadastro. 
                    </li>
                    <li>
                      <i class="numero"><b>2</b></i>
                      ​C​onfirme o seu cadastro através do email recebido.
                    </li>
                    <li>
                      <i class="numero"><b>3</b></i>
                     Aguarde a aprovação do seu cadastro pelo Mestre.
                    </li>
                    <li>
                      <i class="numero"><b>4</b></i>
                      Faça seu login e acesse sua área administrativa.
                    </li>
                    
                  </ul>

                  <br>

                  <%= render "devise/shared/links" %>
                  <!-- /register form -->


                </div>

              </div>

            </div>

          </div>
        </div>

      </section>

