      <section>
      
        <div class="display-table">
          <div class="display-table-cell vertical-align-middle">
            
            <div class="container">
              
              <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                  <!-- ALERT -->
                  <!--
                  <div class="alert alert-mini alert-danger margin-bottom-30">
                    <strong>Oh snap!</strong> Login Incorrect!
                  </div>
                  -->
                  <!-- /ALERT -->

                  <!-- register form -->

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'nomargin sky-form boxed'}) do |f| %>
                      <%= devise_error_messages! %>
                    <header>
                      <i class="fa fa-users"></i> Cadastro
                      <br>
                      <p>Área destinada somente aos professores do Grupo Capoeira Brasil</p>
                    </header>



                    <fieldset class="nomargin">     

                    <div class="row">
                      <div class="col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :nome ,placeholder: "Nome" %>
                          </label>
                        </div>
                      </div>
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :sobrenome, placeholder: "Sobrenome"%>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7">
                        <div class="field">
                          <label class="input">
                            <%= f.text_field :apelido ,placeholder: "Apelido" %>
                          </label>
                        </div>
                      </div>
                      <div class="col col-md-5">
                        <div class="field">
                          <label class="input">
<%= f.select(:sexo, [['Masculino', 'M'], ['Feminino', 'F']] , prompt: "Sexo", :class => "form-control") %>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">


                            <%= f.select :graduacao, ['Instrutor(a)', 'Professor(a)', 'Formando(a)', 'Formado(a)', 'Mestre(a)' ], prompt: "Informe sua graduação" %> 
                          </label>      
                        </div>   
                      </div>
                      <div class="col col-md-6">
                        <div class="field">
                          <label class="input">
                            <%= f.select :nome_professor, 
                                        listaProfessores.sort.map{|k,v| [v,k]}.sort_by{|k,v| k},
                                        prompt: "Escolha o seu professor"   %> 

                            
                          </label>      
                        </div>
                      </div>
                    </div>                           
                    

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-envelope"></i>
                              <%= f.email_field :email, placeholder: "E-mail" %>
                              <b class="tooltip tooltip-bottom-right">Necessário para verificar o cadastro</b>
                          </label>      
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-lock"></i>
                              <% if @minimum_password_length %>
                            
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", placeholder:"Senha" %>
                          </label>     
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col col-md-12">
                        <div class="field">
                          <label class="input">
                              <i class="ico-append fa fa-envelope"></i>
                              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmação de Senha" %>
                          </label>      
                        </div>
                      </div>
                    </div>

                    

                     

                    
                 

                    <div class="margin-top-20">
                        <label class="checkbox nomargin termo">
                         <%= f.check_box :termo , class: 'checked-agree ' %>
                          <i></i><a href="#termo-modal" class="popup-modal">Concordo com os termos de serviço.</a>
                        </label>
                        <!-- <label class="checkbox nomargin"><input type="checkbox" name="checkbox"><i></i>Gostaria de receber novidade do Grupo Capoeira Brasil.</label> -->
                      </div>

                      <div id="termo-modal" class="white-popup-block mfp-hide">
                        <h1>Termos de Serviço</h1>
                        <p><a class="popup-modal-dismiss" href="#">Fechar</a></p>
                        <p>Bem-vindo!

Ficamos muito felizes por você ter decidido usar o Snapchat e nossos outros produtos e serviços, que chamaremos simplesmente de “Serviços” abaixo.

Elaboramos estes Termos de Serviço (que chamaremos de “Termos”) para informar você sobre as regras que regem o nosso relacionamento. Embora tenhamos empenhado todo esforço possível para eliminar o "juridiquês" dos nossos Termos, há algumas partes que ainda podem soar parecidas com um contrato tradicional. Mas há uma boa razão para isso: estes termos, de fato, constituem um contrato juridicamente vinculante entre você e a Snap Inc. Portanto, leia-os com muita atenção.

Ao utilizar os Serviços, você concorda com os Termos. Naturalmente, se você não concordar com os Termos, então não utilize os Serviços.

NOTIFICAÇÃO DE ARBITRAGEM: ESTES TERMOS CONTÊM UMA CLÁUSULA ARBITRAL UM POUCO MAIS ADIANTE. EXCETUANDO-SE DETERMINADOS TIPOS DE LITÍGIOS MENCIONADOS NA CLÁUSULA ARBITRAL, VOCÊ E A SNAP INC. CONCORDAM QUE LITÍGIOS ENTRE AS PARTES SERÃO RESOLVIDOS POR ARBITRAGEM VINCULATIVA OBRIGATÓRIA E VOCÊ E A SNAP INC. RENUNCIAM TODOS OS DIREITOS DE PARTICIPAR DE UMA AÇÃO COLETIVA OU DE ARBITRAGEM COLETIVA.

1. Quem pode utilizar os Serviços

Menores de 13 anos de idade não têm permissão para criar uma conta ou utilizar os Serviços. Pode ser que ofereçamos Serviços adicionais, sujeitos a termos adicionais, que podem exigir que você seja ainda mais velho para utilizá-los. Portanto, leia todos os termos com atenção.

Ao utilizar os Serviços, você declara que:

Pode assinar um contrato vinculante com a Snap Inc.
Não é um indivíduo que se encontra impedido de receber os Serviços nos termos da legislação dos Estados Unidos, ou de qualquer outra jurisdição aplicável – isto é, o seu nome não consta na lista de Cidadãos Especialmente Designados do Departamento do Tesouro dos EUA (U.S. Treasury Department’s list of Specially Designated Nationals), e você não enfrenta nenhum outro tipo de proibição de natureza semelhante.
Irá cumprir estes Termos e todas as leis, regras e regulamentos locais, estaduais, nacionais e internacionais aplicáveis.
Se você estiver utilizando os Serviços em nome de uma empresa ou entidade, você declara estar autorizado a outorgar todas as licenças estabelecidas nestes Termos, bem como concordar com estes Termos em nome da empresa ou entidade que representa. Se você estiver utilizando os Serviços em nome de uma entidade do Governo dos EUA, você concorda com o Aditamento dos Termos de Serviço da Snap Inc. para usuários do Governo dos EUA.

Bem-vindo!

Ficamos muito felizes por você ter decidido usar o Snapchat e nossos outros produtos e serviços, que chamaremos simplesmente de “Serviços” abaixo.

Elaboramos estes Termos de Serviço (que chamaremos de “Termos”) para informar você sobre as regras que regem o nosso relacionamento. Embora tenhamos empenhado todo esforço possível para eliminar o "juridiquês" dos nossos Termos, há algumas partes que ainda podem soar parecidas com um contrato tradicional. Mas há uma boa razão para isso: estes termos, de fato, constituem um contrato juridicamente vinculante entre você e a Snap Inc. Portanto, leia-os com muita atenção.

Ao utilizar os Serviços, você concorda com os Termos. Naturalmente, se você não concordar com os Termos, então não utilize os Serviços.

NOTIFICAÇÃO DE ARBITRAGEM: ESTES TERMOS CONTÊM UMA CLÁUSULA ARBITRAL UM POUCO MAIS ADIANTE. EXCETUANDO-SE DETERMINADOS TIPOS DE LITÍGIOS MENCIONADOS NA CLÁUSULA ARBITRAL, VOCÊ E A SNAP INC. CONCORDAM QUE LITÍGIOS ENTRE AS PARTES SERÃO RESOLVIDOS POR ARBITRAGEM VINCULATIVA OBRIGATÓRIA E VOCÊ E A SNAP INC. RENUNCIAM TODOS OS DIREITOS DE PARTICIPAR DE UMA AÇÃO COLETIVA OU DE ARBITRAGEM COLETIVA.

1. Quem pode utilizar os Serviços

Menores de 13 anos de idade não têm permissão para criar uma conta ou utilizar os Serviços. Pode ser que ofereçamos Serviços adicionais, sujeitos a termos adicionais, que podem exigir que você seja ainda mais velho para utilizá-los. Portanto, leia todos os termos com atenção.

Ao utilizar os Serviços, você declara que:

Pode assinar um contrato vinculante com a Snap Inc.
Não é um indivíduo que se encontra impedido de receber os Serviços nos termos da legislação dos Estados Unidos, ou de qualquer outra jurisdição aplicável – isto é, o seu nome não consta na lista de Cidadãos Especialmente Designados do Departamento do Tesouro dos EUA (U.S. Treasury Department’s list of Specially Designated Nationals), e você não enfrenta nenhum outro tipo de proibição de natureza semelhante.
Irá cumprir estes Termos e todas as leis, regras e regulamentos locais, estaduais, nacionais e internacionais aplicáveis.
Se você estiver utilizando os Serviços em nome de uma empresa ou entidade, você declara estar autorizado a outorgar todas as licenças estabelecidas nestes Termos, bem como concordar com estes Termos em nome da empresa ou entidade que representa. Se você estiver utilizando os Serviços em nome de uma entidade do Governo dos EUA, você concorda com o Aditamento dos Termos de Serviço da Snap Inc. para usuários do Governo dos EUA.</p>
                        
                      </div>


                  </fieldset>
                    


                    <div class="row margin-bottom-20 actions">
                      <div class="col-md-12">
                         <%= f.submit "Cadastrar", class:'btn btn-primary' %>
                      </div>
                    </div>
                      
                     
                  <%end%>
                  <br>
                  
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 ">


                  <h2 class="size-20 text-center-xs">Cadastro</h2>

                  <p>Seja ​b​em-v​indo(a) a mais uma sede do Grupo Capoeira Brasil.
O conteúdo deste site é gerenciado por capoeiristas graduados do Mestre Paulinho Sabiá e o cadastramento é destinado apenas àqueles que desenvolvem um trabalho pelo Grupo Capoeira Brasil / Sabiá. </p>

                  <ul class="list-unstyled login-features">
                    <li>
                      <i class="numero"><b>1</b></i> 
                      Preencha o formulário de cadastro. 
                    </li>
                    <li>
                      <i class="numero"><b>2</b></i>
                      ​C​onfirme o seu cadastro através do email recebido.
                    </li>
                    <li>
                      <i class="numero"><b>3</b></i>
                     Aguarde a aprovação do seu cadastro pelo Mestre.
                    </li>
                    <li>
                      <i class="numero"><b>4</b></i>
                      Faça seu login e acesse sua área administrativa.
                    </li>
                    
                  </ul>

                  <br>

                  <%= render "devise/shared/links" %>
                  <!-- /register form -->


                </div>

              </div>

            </div>

          </div>
        </div>

      </section>

