  <% if turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% turma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <%= f.label :local_id, "Local onde ocorre a turma:" %>
        <p class="sublabel">Escolha o local aonde a turma acontece.
        <span>Caso não encontre o local na lista, clique para cadastrar um novo.</span> </p>
      <div class="input-group" style="float:left;">
        <div class="input-group-addon">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>    
        </div>
      <% # DÚVIDA #
         # 1 - QUAL SERIA A MANEIRA CORRETA DE ESCREVER ESSE SELECT POR CONTA DO IF? RESOLVIDO
         # 2 - PORQUE QUANDO O f.select ESTÁ PARA :local OU INVÉS DE :local_id, OBTENHO O ERRO  Local(#69813380182220) expected, got String(#3981400) ?
         #2.A - PElo que entendi na documentaçã, http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html, é sempre o parametro ID que deve ser alocado. PAra isso, tenho que permitir o parametro de id na lista d eparametros permitidos.
         #2.B - NAO FUNCIONA f.select :local, @locais.collect {|l| [ l.nome, l.id ]} , prompt: "Escolha um local"
         #3 - Funciona ( com id), porem pra null - f.select :local_id, @locais.collect {|l| [ l.nome, l.id ]} , prompt: "Escolha um local"
      %>
        
        <%= f.select :local_id, @locais.collect {|l| [ l.nome, l.id ]} , prompt: "Escolha um local" %>
     
      </div>
      <br><br>
      <div style="display: inline-block; padding-bottom: 3px; padding-top: 3px;" class="label label-success">
        <%= link_to(new_local_path) do %>
          <div class="" style="text-align: center; color:white;">Não encontrou o local na lista?<br>Clique aqui para cadastrar um novo.</div>
        <% end %>  
      </div>
       
       <%if params[:notice] %>  
        <br>    <br>    
        <p id="notice"><%= params[:notice] %></p>
       <%end%>

    </div>
   
  </div>

   <div class="row">

    <div class="col-md-12">
      <label> Dias que ocorre a turma:</label>
      <p class="sublabel">Escolha os dias da semana em que a turma acontece</p>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">  
        <%= f.label :dia_dom, "dom" %>
        <%= f.check_box :dia_dom %>
      </div>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">
        <%= f.label :dia_seg, "seg" %>
        <%= f.check_box :dia_seg %>  
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">
        <%= f.label :dia_ter, "ter" %>
        <%= f.check_box :dia_ter %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">
        <%= f.label :dia_qua, "qua" %>
        <%= f.check_box :dia_qua %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">
        <%= f.label :dia_qui, "qui" %>
        <%= f.check_box :dia_qui %>
      </div>
    </div>  
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">  
        <%= f.label :dia_sex, "sex" %>
        <%= f.check_box :dia_sex %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="box-dia">
        <%= f.label :dia_sab, "sab" %>
        <%= f.check_box :dia_sab %>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <%= f.label :periodo, "Período do dia:" %>
      <p class="sublabel">Escolha o período em que a turma acontece.
        <span>Essa informação ajudará os usuários a buscarem turmas em períodos específicos</span>
      </p>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-sun-o" aria-hidden="true"></i>    
        </div>
        <%= f.select :periodo, options_for_select(@periodos, :periodo) , prompt: "Escolha um período" %>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
      <%= f.label :hora_inicio, "Início:" %>
      <p class="sublabel">Hora que começa.</p>
    
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>    
        </div>
         <%= f.time_field :hora_inicio, class: 'form-control' %>
      </div>
      
    </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
      <%= f.label :hora_fim, "Fim:" %>
      <p class="sublabel">Hora que termina.</p>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>    
        </div>
        <%= f.time_field :hora_fim, class: 'form-control' %>
      </div>
      
    </div>  
  </div>

   <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
      <%= f.label :publico, "Público Alvo:" %>
      <p class="sublabel">Escolha o público que frequenta a turma.</p>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-users" aria-hidden="true"></i>    
        </div>
        <%= f.select :publico, options_for_select(@publicos, :publico) , prompt: "Escolha um público alvo" %>
      </div>
    </div>  
  </div>


   <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <%= f.label :observacoes, "Informações adicionais:" %>
      <p class="sublabel">Descreva os pontos adcionais para complementar as informações desta turma .</p>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>    
        </div>
        <%= f.text_area :observacoes, class: "form-control", placeholder: "Observações" %>
      </div>
    </div>  
  </div>


  
  
