
<h1>Minhas Turmas</h1>

<%= link_to new_turma_path, class: 'btn btn-success' do %>
  <i class="fa fa-plus"></i> Cadastrar Nova Turma
<% end %>

<% if !@turmas.blank? %>
  <p id="notice"><%= notice %></p>

<% @turmas.each do |local| %>
  <table class="table table-hover table-striped" style="border: 2px solid #ddd ">


    <thead>

      <tr>
        <th colspan=2 style="height:120px; width:100%; background-image: url('<%=local.imagem_url.to_s%>'); background-size: cover; background-position: center;"></th>
        <th class=" borda-bottom-1px" style="background-color: #f9f9f9; font-weight: normal; vertical-align: middle;" >
           <p style="font-size: 14px; font-weight: bold; color:#827977;"><%=local.nome%></p>
           <p style="margin-top: -10px; color:#a2a2a2;"><%=local.cidade%></p>
           <div style="font-size: 12px;">
              <%= link_to(local) do %>
                <i class="fa fa-calendar-o"></i> Visualizar mais informações do local
              <% end %>
           </div>
            <div style="font-size: 12px;">
              <%= link_to(edit_local_path(local)) do %>
              <i class="fa fa-pencil"></i> Editar informações do local
            <% end %>
            </div>
            <br>
        </th>
      </tr>

    </thead>

    <thead>

      <tr>
        <th style="width: 30%">Horário</th>
        <th style="width: 30%">Dias</th>
        <th style="width: 30%"></th>
      </tr>


    </thead>

    <tbody>
      <% local.turmas.each do |turma| %>
        <tr>
          <td><%=turma.horario_da_turma%></td>
          <td><%=turma.dias_da_semana%></td>
          <td>
            <%= link_to(turma) do %>
              <span style="margin-right: 5px;">
                <i class="fa fa-calendar-o"></i> Visualizar
              </span>
            <% end %>
            <%= link_to(edit_turma_path(turma)) do %>
              <span style="margin-right: 5px;">
                <i class="fa fa-pencil"></i> Editar
              </span>
            <% end %>
            <%= link_to(turma, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este turma?' }) do %>
             <span style="margin-right: 5px;">
              <i class="fa fa-trash-o"></i> Excluir
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
  <%= will_paginate @turmas %>

  <br>

  <%= link_to locais_path, class: 'btn' do %>
    <i class="fa fa-map-marker"></i> Clique aqui para visualizar os seus locais cadastrados.
  <% end %>
<% end %>