<section id="events">
	<div class="container">
		<div class="row">
			<!-- DIV Publicacoes -->
			<p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div class="col-sm-8">

				<h3>Publicações Recentes /<span class="size-18">Notícias, Músicas, Técnicas</span></h3>
				<% @ultimas_publicacoes.each do |publicacao| %>
                <!-- news item -->
				<div class="inews-item">
                    <div class="cartaz" style="background-image: url('<%=publicacao.image_url.to_s%>');">
                    	
					</div>
					
					<div class="publicacao-item-content">
						<div class="inews-content-inner div-news">
							
							<h3 class="size-20">
								<%= link_to( publico_publicacao_path(publicacao)) do %>
									<%=publicacao.titulo%>
								<% end %>
							</h3>

							<ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
								<li>
									<a href="#">
										<i class="fa fa-user"></i> 
										<span class="font-lato"><%= publicacao.usuario.graduacao.capitalize + " " + publicacao.usuario.apelido%></span>
									</a>
								</li>
								<li>
									<i class="fa fa-folder-open-o"></i> 
									<a class="category" href="#">
										<span class="font-lato"><%=publicacao.categoria.nomeCategoria%></span>
									</a>
								</li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o"></i> 
                                        <span class="font-lato">
                                        <%=l publicacao.created_at, format: :short %>
											
                                        </span>
                                    </a>
                                </li>
							</ul>

							<p>
								<%=strip_tags(publicacao.texto_publicacao).truncate(200) %></p>
						</div>
					</div>
				</div>
				<%end%>
				<!-- /news item -->
                
                
                
                <!-- /news item -->
                <div>
                	<div class="inews-content-inner">
						<h3 class="size-14 text-left"><a href="<%= todas_publicacoes_path%>">Ver Todas</a></h3>
                    </div>
                </div>
                <!-- /news item -->
			</div>
            <!-- DIV Publicacoes -->
            
            <!-- DIV Eventos -->
            <div class="col-sm-4">

				<h3>Próximos Eventos /<span class="size-18">GCB</span></h3>

				 <% @ultimos_eventos.each do |evento| %>
					<div class="event-item">
						<div class="event-date-wrapper">
							<span class="event-date-day"><%= evento.data_hora_inicio.to_time.strftime('%d')%></span>
							<span class="event-date-month"><%= evento.data_hora_inicio.to_time.strftime('%^b')%></span>
						</div>
						<div class="event-content-wrapper">
							<div class="event-content-inner-wrapper">
								<h3 class="event-title"><a href="<%= publico_evento_path(evento) %>"><%= evento.titulo %></a></h3>
								<div class="event-location"><%= evento.usuario.graduacao %> - <%= evento.usuario.nome %> </div>
	                            <div class="event-location"><%= evento.local %> </div>
							</div>
	                       
	                    </div>
					</div>

				<% end %>	
					
				<div>
                	<div class="inews-content-inner">
						<h3 class="size-14 text-blue text-right"><a href="<%= proximos_eventos_path%>">Ver Todos</a></h3>
					</div>
                </div>

                <hr>

                 <%= render 'layouts/sidebar_fb' %>

			</div>
            <!-- DIV Eventos -->
		</div>
	</div>
</section>
