
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo, "Título:" %>
    <br>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :descricao , "Descrição do Evento:" %>
    <br>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.label :local , "Local do Evento:"%>
    <br>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :data_hora_inicio,  "Data e hora de início do evento:"%>
    <br>
    <%= f.datetime_select :data_hora_inicio %>
  </div>

  <div class="field">
    <%= f.label :data_hora_fim , "Data e hora do fim do evento:"%>
    <br>
    <%= f.datetime_select :data_hora_fim %>
  </div>

  <%if current_usuario.admin? || current_usuario.mestre?%>
    <div class="field">
      <%= f.label :aprovado, "Aprovação" %>
      <br>
      <%= f.select :aprovado, [["Aprovado", "APROVADO"], ["Reprovado", "REPROVADO"], ["A definir", "INDEFINIDO"]] %>
    </div>  

  <%end%>

  <div class="field">
    <%= f.label :image , "Imagem:"%>
    <br>
    <%= f.file_field :image %>
  </div>


  
