
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :titulo, "Título:" %>
    <br>
    <%= f.text_field :titulo, class: 'form-control', placeholder: 'Título do Evento' %>
  </div>

  <br>

  <div class="input-group">
    <%= f.label :descricao , "Descrição:" %>
    <br>
    <%= f.text_area :descricao, class: 'form-control', placeholder: 'Descrição do Evento', cols: 60, rows: 10  %>
  </div>
  
  <br>
  
  <%= f.label :local , "Local do Evento:"%>
  <br>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-home" aria-hidden="true"></i>    
    </div>
    <%= f.text_field :local, class: 'form-control' %>
  </div>

  <br>

  <%= f.label :data_hora_inicio,  "Data e hora de início do evento:"%>
  <br>
  <div class="input-group">
    <%= f.datetime_select :data_hora_inicio, class: 'form-control' %>
  </div>

  <%= f.label :data_hora_fim , "Data e hora do fim do evento:"%>
  <br>
  <div class="input-group">
      <%= f.datetime_select :data_hora_fim, class: 'form-control' %>
  </div>

  <%if current_usuario.admin? || current_usuario.mestre?%>
    <div class="field">
      <%= f.label :aprovado, "Aprovação" %>
      <br>
      <%= f.select :aprovado, [["Aprovado", "APROVADO"], ["Reprovado", "REPROVADO"], ["A definir", "INDEFINIDO"]] %>
    </div>  

  <%end%>

  <div class="field">
    <%= f.label :image , "Imagem:"%>
    <br>
    <%= f.file_field :image %>
  </div>


  
