<h1>Alterar Evento</h1>


<%= form_for(@evento) do |f| %>

			<%= render 'form', evento: @evento, f:f %>
			
			<div class="actions">
   				<%= f.submit "Salvar alterações do Evento" , :class => "btn btn-warning btn-mini"%>
			</div>

<% end %> 

<%= link_to 'Visualizar', @evento %> |
<%= link_to 'Voltar para tela de eventos', eventos_path %>
