<h1>Alterar Evento</h1>


<%= form_for(@evento) do |f| %>

			<%= render 'form', evento: @evento, f:f %>
			
			<div class="actions">
				<%if !current_usuario.admin? && !current_usuario.mestre?%>
   					<%= f.submit "Salvar alterações do Evento",  data: { confirm: 'Atenção: Após alteração do Evento, será necessário uma nova aprovação.' },:class => "btn btn-warning btn-mini"%>
				<% else %>
					<%= f.submit "Salvar alterações do Evento",:class => "btn btn-warning btn-mini"%>
				<% end %>
			</div>

<% end %> 

<%= link_to 'Visualizar', @evento %> |
<%= link_to 'Voltar para tela de eventos', eventos_path %>
