<p id="notice"><%= notice %></p>

<% if current_usuario.admin? || current_usuario.mestre?  %>

  <h1>Eventos Cadastrados</h1>

<%else %>

  <h1>Meus Eventos</h1>  

<% end %>


<%= link_to new_evento_path, class: 'btn btn-success' do %>
  <i class="fa fa-calendar-plus-o"></i> Cadastrar Novo Evento
<% end %>



<!-- <p>Pode excluir evento? <%=podeCadastrarNovoEventoOuExcluirOuEditar['excluir']%> </p>
<p>Pode excluir evento? <%=podeCadastrarNovoEventoOuExcluirOuEditar['excluir']['pode']%> </p>

<p>Pode cadastrar evento? <%=podeCadastrarNovoEventoOuExcluirOuEditar['cadastrar']%> </p>
<p>Pode cadastrar editar? <%=podeCadastrarNovoEventoOuExcluirOuEditar['editar']%> </p>
<p>Resumo do usuario: <%=podeCadastrarNovoEventoOuExcluirOuEditar['resumo_usuario_eventos']%> </p> -->

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Eventos</th>
      <th style="width: 250px;"></th>
      <th>Local/Horário</th>
      <th>Evento Aprovado?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td>
          <%=image_tag evento.image_url.to_s, size: '100'%>
        </td>
        <td>
          <br>
          <b><%= evento.titulo %></b>
          <br>
          <%= strip_tags(evento.descricao).truncate(50) %>
          
        </td>
        <td>
          <br>
          <%= evento.local %>
          <br>
          <i class="fa fa-calendar hidden-xs"></i> <%= evento.data_hora_inicio.to_time.strftime('%d/%m/%Y')%>
          <br>
          <i class="fa fa-clock-o hidden-xs"></i> <%= evento.data_hora_inicio.to_time.strftime('%H:%m ')%>
        </td>
        
 
        <td>
          <br>
          <span class="label <%=evento.status_aprovacao_cor%>">
            <%= evento.status_aprovacao%>
          </span>
        </td>
        <td>
          <br>
          <%= link_to(evento) do %>
            <i class="fa fa-calendar-o"></i> Visualizar Evento
          <% end %>
          <br>
          <%= link_to(publico_evento_path(evento)) do %>
            <i class="fa fa-eye"></i> Preview Evento
          <% end %>
          <br>
          <%= link_to(edit_evento_path(evento)) do %>
            <i class="fa fa-pencil"></i> Editar Evento
          <% end %>
          <br>
          <%= link_to(evento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir o evento?' }) do %>
            <i class="fa fa-trash-o"></i> Excluir Evento
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @eventos %>

<br>


