<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <br>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <br>
  <%= @evento.descricao.html_safe %>
  <br style="clear:left;">
</p>

<p>
  <strong>País / Estado / Cidade:</strong>
  <br>
  <%= @evento.pais %> / <%= @evento.estadoprovincia %> / <%= @evento.cidade %>

</p>

<p>
  <strong>Local:</strong>
  <br>
  <%= @evento.local %>
</p>

<p>
  <strong>Data e hora de início do Evento:</strong>
  <br>
  <%= @evento.data_hora_inicio.to_time.strftime('%d/%m/%Y')%> - <%= @evento.data_hora_inicio.to_time.strftime('%H:%M ')%>

          
</p>

<p>
  <strong>Data e hora de Fim do Evento:</strong>
  <br>
  <%= @evento.data_hora_fim.to_time.strftime('%d/%m/%Y')%> - <%= @evento.data_hora_fim.to_time.strftime('%H:%M ')%>
</p>

<p>
  <strong>Status da Aprovação:</strong>
  <br>
  <%= @evento.status_aprovacao%> 
  
</p>

<p>
  <br>
  <% if @evento.image? %> 
       <strong>Imagem:</strong>
        <br>
        <%= image_tag(@evento.image_url, height:'120') %> 
      <% end %> 
</p>

<br>
<% if can? :update, @evento %>
  <%= link_to 'Editar Evento', edit_evento_path(@evento) %> |

   <%= link_to(publico_evento_path(@evento)) do %> 
      <i class="fa fa-eye"></i> Preview Evento 
    <% end %> |

<% end %>

<%= link_to 'Voltar', eventos_path %>
