<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @evento.descricao %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<p>
  <strong>Data - inicio:</strong>
  <%= @evento.data_hora_inicio.to_time.strftime('%d/%m/%Y')%>
  <br>
  <%= @evento.data_hora_inicio.to_time.strftime('%H:%m ')%>

          
</p>

<p>
  <strong>Data - fim:</strong>
  <%= @evento.data_hora_fim.to_time.strftime('%d/%m/%Y')%>
  <br>
  <%= @evento.data_hora_fim.to_time.strftime('%H:%m ')%>
</p>

<p>
  <strong>Status da Aprovação:</strong>
  <% if @evento.status_aprovacao%>
   
</p>

<% if can? :update, @evento %>
  <%= link_to 'Editar Evento', edit_evento_path(@evento) %> |
  <% end %>
<%= link_to 'Voltar', eventos_path %>
