<h3>Professores do Portal GCB</h3>
<br>
<table class="table table-hover table-striped tabela_aprovacao"">
  <thead>
    <tr>
      <th>Usuário</th>
      <th></th>
    <!--   <th>Nome</th> -->
      <th>Participação</th>

    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td>
          <% if usuario.possuiPerfil?%>
               <div class="avatar_lista_usuarios" style="background-image: url('<%=usuario.perfil.imagemPerfil_url.to_s%>');"></div> 
          <% else %>
               <%= image_tag("avatar2.jpg", height: '110', width: '110')%>
          <% end %>    
        </td>
        <td>
          <%= usuario.apelidoCompleto %>
          <br> 
          Corda: 
          <% if usuario.possuiPerfil?%>
            <span style="border-bottom: 2px solid <%= usuario.perfil.cordaCapoeira[1] %>; "> 
            <%= usuario.perfil.cordaCapoeira[0] %>
            </span>
          <% else %>
              Usuário ainda não criou um perfil
          <% end %>
          <br> 
          <span class="nomeprofessor"> Professor: <%= usuario.nome_professor %> </span>
        </td>
        <td>
          <span class="participacao-inicio"> 
            <b> Iniciou na capoeira </b> <br> 
            <% if usuario.possuiPerfil?%>
              <i class="fa fa-calendar-o"></i> <%= usuario.perfil.dataInicioCapoeira %> 
            <% else %>
              <i class="fa fa-calendar-o"></i> Usuário ainda não criou um perfil
            <% end %>  

          </span>
          <br>
          <br>
          <span class="participacao-gcb"> 
            <b>Iniciou no GCB</b>   <br>
            <% if usuario.possuiPerfil?%>
              <i class="fa fa-calendar-o"></i> <%= usuario.perfil.dataInicioGCB %> 
            <% else %>
              <i class="fa fa-calendar-o"></i> Usuário ainda não criou um perfil
            <% end %>  
          </span>
          <br>
<!--           <span class="participacao-membro"> Membro do site: <%= l usuario.created_at, format: :mes_ano %></span> -->
        </td>

	   </tr>

    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>