<% if current_usuario.admin? || current_usuario.mestre?  %>

  <h1>Publicações Cadastradas</h1>

<%else %>

  <h1>Minhas Publicações</h1>  

<% end %>

<% unless notice.blank? %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= link_to new_publicacao_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Nova Publicação
<% end %>



<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th style="width:110px;">Publicação</th>
      <th ></th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @publicacoes.each do |publicacao| %>
      <tr>
        <td><%=image_tag publicacao.image_url.to_s, size: '100'%></td>
        <td>
          <b><%= publicacao.titulo %></b>
          <br>
          <% if current_usuario.admin? || current_usuario.mestre?%>
            <i class="fa fa-user" aria-hidden="true"></i>
            <%= publicacao.usuario.apelido %>
          <% end %>
          <br>
          <span class="label <%=publicacao.status_aprovacao_cor%>">
            <%= publicacao.status_aprovacao%>
          </span>
          <br>
          <br>
          <%= strip_tags(publicacao.texto_publicacao).truncate(100) %>
        </td>
        <td>
          <br>
          <%= link_to(publicacao) do %>
            <i class="fa fa-file-text-o"></i> Ver Publicação
          <% end %>
          <br>
           <%= link_to(publico_publicacao_path(publicacao)) do %>
            <i class="fa fa-eye"></i> Preview Publicação
          <% end %>
          <br>
          <%= link_to(edit_publicacao_path(publicacao)) do %>
            <i class="fa fa-pencil"></i> Editar Publicação
          <% end %>
          <br>
          <%= link_to(publicacao, method: :delete, data: { confirm: 'Tem certeza que dseja excluir a publicação?' }) do %>
            <i class="fa fa-trash-o"></i> Excluir Publicação
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @publicacoes %>
<br>



