
<section>


		<div class="row">

			<!-- RIGHT -->
			<div class="col-md-9 col-sm-9">

				<h2>Publicações</h2>

				<% @publicacoes.each do |publicacao| %>
				<div class="row">
					<!-- POST ITEM -->
					<div class="blog-post-item col-md-12 col-sm-12">

						<!-- IMAGE -->
						<figure class="margin-bottom-20 imagem-publicacoes" style="background-image: url('<%=publicacao.image_url.to_s%>');">

						</figure>

						<h2>
							<%= link_to( publico_publicacao_path(publicacao)) do %>
								<%=publicacao.titulo%>
							<% end %>
						</h2>

						<ul class="blog-post-info list-inline">
							<li>
								<a href="#">
									<i class="fa fa-clock-o"></i> 
									<span class="font-lato"><%=l publicacao.created_at, format: :long %></span>
								</a>
							</li>
							<li>
								<i class="fa fa-folder-open-o"></i> 

								<a class="category" href="#">
									<span class="font-lato"><%= publicacao.categoria.nomeCategoria%></span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-user"></i> 
									<span class="font-lato"><%= publicacao.usuario.apelidoCompleto%></span>
								</a>
							</li>
						</ul>

						<p><%=strip_tags(publicacao.texto_publicacao).truncate(600)%><%= link_to " Ler mais", publico_publicacao_path(publicacao) %></p>


						
						
					</div>
					<!-- /POST ITEM -->
				</div>
				<% end %>
				<div class="row">
					<!-- POST ITEM -->
					<div class="col-md-12 col-sm-12">
						<%= will_paginate @publicacoes %>
					</div>
				</div>
			</div>
			<!-- LEFT -->
			<div class="col-md-3 col-sm-3">
				<!-- INLINE SEARCH -->
<!-- 				<div class="inline-search clearfix margin-bottom-30">
					<form action="" method="get" class="widget_search">
						<input type="search" placeholder="Buscar..." id="s" name="s" class="serch-input">
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div> -->
				<!-- /INLINE SEARCH -->

			<!-- 	<hr /> -->

				<!-- side navigation -->
				<div class="side-nav margin-bottom-60 margin-top-30">

					<%= render 'sidebar_publicacao', categorias: @categorias %>

					<!-- /side navigation -->
					<hr>
	                <%= render 'layouts/sidebar_fb' %>

				
				</div>

			</div>

		</div>

	
</section>
			<!-- / -->