<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @publicacao.titulo %>
</p>

<p>
  <strong>Texto publicacao:</strong>
  <%= @publicacao.texto_publicacao %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @publicacao.categoria.nomeCategoria %>
</p>

<p>
  <strong>Aprovado:</strong>
  <% if @publicacao.aprovado?%>
     Publicação Aprovado
  <% else @publicacao.aprovado %>
  	A Publicação ainda não foi Aprovada
  <% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= @publicacao.image %>
</p>

<%= link_to 'Edit', edit_publicacao_path(@publicacao) %> |
<%= link_to 'Back', publicacoes_path %>
