<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <br>
  <%= @publicacao.titulo %>
</p>

<p>
  <strong>Texto publicacao:</strong>
  <br>
  <%= @publicacao.texto_publicacao.html_safe %>
</p>

<p>
  <strong>Categoria:</strong>
  <br>
  <%= @publicacao.categoria.nomeCategoria %>
</p>

<p>
  <strong>Status da Aprovação:</strong>
  <br>
  <%= @publicacao.status_aprovacao%>
</p>

<p>
  <br>
  <% if @publicacao.image? %> 
       <strong>Imagem:</strong>
        <br>
        <%= image_tag(@publicacao.image_url, height:'120') %> 
      <% end %> 
</p>

<%= link_to 'Editar Publicação', edit_publicacao_path(@publicacao) %> |
<%= link_to 'Voltar', publicacoes_path %>
