<h3>Usuários Pendentes de Aporvação</h3>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<table class="table table-hover table-striped tabela_aprovacao"">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Apelido</th>
      <th>Graduação</th>
      <th>Professor</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome%></td>
        <td><%= usuario.sobrenome %></td>
        <td><%= usuario.apelido %></td>
        <td><%= usuario.graduacao %></td>
        <td><%= usuario.nome_professor %></td>
        <td>
          <%= link_to 'Aprovar acesso', aprovar_usuario_url(usuario), method: :get, data: { confirm: 'Tem certeza que deseja aprovaro acesso do usuario?'}, class: 'btn btn-danger btn-xs' %> 	
        </td>
	   </tr>

    <% end %>
  </tbody>
</table>