<p class="notice label label-primary"><%= notice %></p>
<p class="alert label label-warning"><%= alert %></p>
<br><br>
<h3>Eventos Pendentes de Aprovação</h3>
<%= render 'eventos', aprovacao_evento: eventos.where( aprovado: "f") %>

<hr>
<br>

<h3>Eventos Aprovados</h3>
<%= render 'eventos', aprovacao_evento: eventos.where( aprovado: "APROVADO") %>

<hr>
<br>

<h3>Eventos Reprovados</h3>
<%= render 'eventos', aprovacao_evento: eventos.where( aprovado: "REPROVADO") %>
<br>
<br>
<br>
<br>
<br>