<table class="table table-hover table-striped tabela_aprovacao"">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Descrição Evento</th>
      <th>inicio</th>
      <th>Fim</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% aprovacao_evento.each do |evento| %>
      <tr>
        <td><%=image_tag evento.image_url.to_s, size: '100'%></td>
        <td>
          <b><%= evento.titulo %></b>
          <%= evento.descricao.truncate(100) %>
          Local: <%= evento.local %>
        <td>
          <%= evento.data_hora_inicio.to_time.strftime('%d/%m/%Y')%>
          <br>
          <%= evento.data_hora_inicio.to_time.strftime('%H:%m ')%>
        </td>
        <td>
          <%= evento.data_hora_fim.to_time.strftime('%d/%m/%Y')%>
          <br>
          <%= evento.data_hora_fim.to_time.strftime('%H:%m ')%>
        </td>
 
        <td>
          <% if evento.aprovado == "INDEFINIDO"%>
            <%= link_to 'Aprovar', edit_evento_path(evento), class: 'btn btn-primary btn-xs' %>
          <% else %>
            <%= link_to 'Visualizar Aprovação', evento, class: 'btn btn-primary btn-xs' %>
          <% end%>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>