<section id="events">

	<h3>Encontre a Capoeira 
		<span style="font-size: 15px;">
		<% if !@nomeFiltro.nil? %>
		 / <%=@nomeFiltro%> 
		<% end %>
		</span>
	</h3>
	
	<div class="row">
		<div class="col-md-9 col-sm-9">
		
				 <div class="row">
						<!-- item -->
						<% @locaisDaCapoeira.each do |local| %>
							
							<div class="col-md-4 col-sm-6">
								<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center ">
									<div class="front">
										<div class="box1 box-default tamanho500">
											<div class="box-icon-title">
												<div class="cartaz encontre" style="background-image: url('<%=local.imagem_url.to_s%>');"></div>
												<div class="nome_e_local">
													<h2 class="nome_local"><%=local.nome.truncate(50)%></h2>
													<small class="local_local"><%=local.nome_pais%> - <%=local.cidade%> </small>	
												</div>
											</div>
											<br>
											<% local.turmas.take(2).each do |turma| %>
											
											<%= link_to geolocalizacoes_local_path(local),  :class=>"link-turma"  do %>
											<div class="turmas">
											<hr>
											
												<% if turma.usuario.perfil %>
													<div class="cartaz encontre avatar_turma_professor" style="background-image: url('<%=turma.usuario.perfil.imagemPerfil_url.to_s%>');"></div>
												<% else %>
													<div 	class="cartaz encontre avatar_turma_professor"
															style="background-image: url('<%= image_url("avatar2.jpg")%>');"></div>
												<% end %>
												<div class="info-turma">
													<p>
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														<%=turma.horario_da_turma%></p>
													<p class="dias_da_turma">
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<%=turma.dias_da_semana%>
													</p>	
													<p class="nome_professor">
													<i class="fa fa-user" aria-hidden="true"></i>
														<%=turma.usuario.apelidoCompleto%>
													</p>
												</div>
												
											</div>
											<% end %>
											<% end %>
											<% if local.turmas.count > 2 %>
												<%= link_to geolocalizacoes_local_path(local),  :class=>"maisturmas"  do %>
													Ver mais 
													<% falta = local.turmas.count - 2%>
													<% if falta == 1%>
													<%=falta%> turma
													<% else %>
													<%=falta%> turmas
													<% end %>
												<% end %>
											<% end %>
										</div>
									</div>
								</div>
								<br>
							</div>


						<% end %>

					</div>
		
		</div>
		<div class="col-md-3 col-sm-3">
				<!-- INLINE SEARCH -->
<!-- 				<div class="inline-search clearfix margin-bottom-30">
					<form action="" method="get" class="widget_search">
						<input type="search" placeholder="Buscar..." id="s" name="s" class="serch-input">
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div> -->
				<!-- /INLINE SEARCH -->

				<!-- <hr /> -->

				<!-- side navigation -->
				<div class="side-nav margin-bottom-60">

					<% #render 'sidebar_publicacao', categorias:@categorias %>
					<%= render 'sidebar_encontre_a_capoeira', locais:@resultLocais, professores:@resultProfs %>

					<hr>
	                <%= render 'layouts/sidebar_fb' %>

				
				</div>

			</div>

	</div>


    </div>        
</section>


<br>
<br>




