<%= form_for(perfil) do |f| %>
  <% if perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perfil.errors.count, "error") %> impediram o perfil de ser salvo:</h2>

      <ul>
      <% perfil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xm-12">
      <%= f.label :corda,  "Corda na capoeira:"%>
      <br>
      <div class="input-group">
      <%= f.select :corda, ['Azul', 'Verde', 'Roxa', 'Marrom', 'Preta' ], prompt: 'Informe a sua corda', class: 'form-control'%> 
     </div>      
    </div>


  </div>

<br>
  <div class="actions">
    <%= f.submit 'Atualizar Perfil',  :class => 'btn btn-primary btn-md'%>
  </div>

  <br>
<% end %>
