<h1>Meu Perfil</h1>

<p id="notice"><%= notice %></p>

<%if @perfil.id.nil?%>

	<p class="alert alert-info" role="alert"> <%=current_usuario.apelido%>, você ainda nao possui um perfil. </p>

<%else%>

	<div class="row">
		<div class="col-md-2">
	  		<div class="imagemPerfil">
		      <% if @perfil.imagemPerfil? %> 
		      	 <div class="image" style="background-image: url('<%=@perfil.imagemPerfil_url.to_s%>');"></div>
		      <% else %>
		         <%= image_tag("avatar2.jpg", height: '150')%>
		      <% end %>  
			</div>
		</div>
		<div class="col-md-4">
	  		<div class="infoPerfil">
		    	<ul>
		    		<li class="apelido"><%=@perfil.usuario.apelido%></li>
		    		<li class="nome"><%=@perfil.usuario.nome%> <%=@perfil.usuario.sobrenome%>  </li>
		    		<li class="graduacao"><%=@perfil.usuario.graduacao%></li>
		    	</ul>    
			</div>
		</div>
	</div>

	<br>	

	<% if @perfil.possuiImagemCapa? %>

		<div class="row">
			<div class="col-md-12">
		  		<div class="imagemCapa">
					<div class="image" style="background-image: url('<%=@perfil.imagemCapa_url.to_s%>');"></div>
		  		</div>
			</div>
		</div>

	<% end %>

	<br>

	<% if @perfil.possuiDescricao? %>

		<div class="row">
			<div class="col-md-12">
		  		<div class="descricaoPerfil">
					<%= @perfil.descricao%>
		  		</div>
			</div>
		</div>

	<% end %>


<% end %>

<br>

<%if @perfil.possuiImagem?%>

	<%= link_to perfil_alterar_foto_path, class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-camera"></i> Alterar Foto do Perfil
	<% end %>
	
<%else%>
	
	<%= link_to perfil_nova_foto_path , class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-camera"></i> Incluir Foto do Perfil
	<% end %>

<% end %>

<%if @perfil.possuiImagemCapa?%>

	<%= link_to perfil_alterar_foto_capa_path, class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-picture-o"></i> Alterar Foto de Capa
	<% end %>
	
<%else%>
	
	<%= link_to perfil_nova_foto_capa_path , class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-picture-o"></i> Incluir Foto de Capa
	<% end %>

<% end %>


<%if @perfil.possuiDescricao?%>

	<%= link_to perfil_alterar_descricao_path, class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-align-right"></i> Alterar Descrição do Perfil
	<% end %>
	
<%else%>
	
	<%= link_to perfil_nova_descricao_path , class: 'btn btn-primary btn-sm'  do %>
		<i class="fa fa-align-right"></i> Incluir Descrição do Perfil
	<% end %>

<% end %>

<%if current_usuario.possuiPerfil?%>

	<%= link_to perfil_publico_usuario_path(@perfil), class: 'btn btn-primary btn-md'  do %>
		<i class="fa fa-eye"></i> Visualizar Perfil
	<% end %>
	
<%end%>


<!-- 

	<i class="fa fa-camera"></i> Alterar Foto de Perfil



	<i class="fa fa-align-right"></i> Incluir Descrição do Perfil



	<i class="fa fa-eye"></i> Visualizar Perfil
 
-->

