<div id="header" class="sticky shadow-after-3 clearfix">

	<!-- TOP NAV -->
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>


			<!-- Logo -->
			<% if current_page?(root_path) %>
				<% if usuario_signed_in?  %>
					<a class="logo pull-left" href="#">
						<%= image_tag("logo_color.png" , class:'flag-lang hide-responsivo', style:'top:-40px;') %>
						<span class="show-responsivo">GRUPO CAPOEIRA BRASIL</span>
					</a>
				<% else %>
					<a class="logo pull-left hide-resposivo" href="#">
						<%= image_tag("logo_color.png" , class:'flag-lang hide-responsivo' ) %>
						<span class="show-responsivo">GRUPO CAPOEIRA BRASIL</span>
					</a>
				<% end %>

			<%else%>
					<a class="logo-home pull-left" href="#">
						<%= image_tag("logo_color.png" , class:'flag-lang hide-responsivo') %>
						<span class="show-responsivo">GRUPO CAPOEIRA BRASIL</span>
					</a>
			<% end %>

			<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						<li><!-- HOME -->
							<a href="<%=root_path%>">
								HOME
							</a>
						</li>
                        <li><!-- HISTÓRIA -->
							<a href="<%=sobre_path%>">
								O GRUPO
							</a>
						</li>
                        <li><!-- EVENTOS -->
							<a href="<%=proximos_eventos_path%>">PRÓXIMOS EVENTOS</a>
						</li>
                        <li><!-- PUBLICAÇÕES -->
							<a href="<%=todas_publicacoes_path%>">
								PUBLICAÇÕES
							</a>
						</li>
                        <li><!-- ENCONTRE A CAPOEIRA -->
							<a href="#" style="color: #ddd;">
								ENCONTRE A CAPOEIRA
							</a>
						</li>
						<% if !usuario_signed_in? %>
							 <li>  
	                    		<%= link_to("ENTRAR", new_usuario_session_path) %>
	                		</li>
	                	<%end%>
					</ul>

				</nav>
			</div>
		</div>
	</header>
	<!-- /Top Nav -->

</div>

