<!DOCTYPE html>
<html>
  <head>
    <title>Grupo Capoeira Brasil</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
    <!-- wrapper -->
    <div id="wrapper">
      <div class="container">
            <br>

            <% if 
                current_page?(root_path) ||
                current_page?(todas_publicacoes_path) ||
                current_page?(proximos_eventos_path) ||
                !usuario_signed_in? 
            %>
                 <!-- NAO EXIBE SIDEBAR -->
                 <%= yield %>
            <% else %>
                 <!-- EXIBE SIDEBAR -->
                <div class="row">
                  <div class="col-md-3">
                    <%= render 'layouts/sidebar_usuario' %>
                  </div>
                  <div class="col-md-9">
                    <%= yield %>       
                  </div>
                </div>
            <% end %>


            
      </div>      
          <%= render 'layouts/footer' %>     
    </div><!-- /wrapper -->

  </body>
</html>
