<!DOCTYPE html>
<html>
  <head>
    <title>Grupo Capoeira Brasil</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


      <%= render 'layouts/header' %>
    <!-- wrapper -->
      
      <% if current_page?(root_path) %>

      <section id="slider" class="height-400 parallax parallax-2 parallax-slider" 
        style="background-image:url(<%= asset_path 'back-grupo-cb.jpg' %>)"> 

        
          <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
              <div class="container">

                <div class="row">
                  <div class="text-center col-md-8 col-xs-12 col-md-offset-2">

                    <h1 style="font-weight: 300" class="font-raleway wow fadeInUp" data-wow-delay="0.4s">Grupo Capoeira Brasil</h1>
                    <hr style="width: 50%;">
                    <p style="font-family: 'Open Sans',sans-serif !important " class="lead font-lato weight-300 hidden-xs wow fadeInUp" data-wow-delay="0.6s">Mestre Paulinho Sabiá</p>
                  </div>
                </div>
          
              </div>
            </div>
        </div>
      </section>

      <%end%>


    <div id="wrapper">
    

    <% if pagina_perfil_publica? %>

      <%= yield %>

    <% else %>

      <div class="container">

            <br>

            <% if exibe_sidebar_usuario? %>
                
                <div class="row">
                  <div class="col-md-3">
                    <%= render 'layouts/sidebar_usuario' %>
                  </div>
                  <div class="col-md-9">
                    <%= yield %>       
                  </div>
                </div>
            <% else %>
                 <!-- EXIBE SIDEBAR -->
                  <%= yield %>
            <% end %>
      </div>    

    <% end %>

          <%= render 'layouts/footer' %>     

    </div><!-- /wrapper -->
    <%= render 'layouts/google_analytics' %>
  </body>
</html>
